<!DOCTYPE html>
<html>
    <head>
        <title>Salón de Belleza</title>
        <meta charset="UTF-8">
        <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">Salón de Belleza</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/servicios">Servicios</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/multimedia">Multimedia</a></li>
                    <li class="nav-menu-item"><a class="nav-link menu-item" href="/iframes">iFrames</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h2>Bienvenido al Salón de Belleza</h2>
            <p>Tu espacio de bienestar y cuidado personal.</p>
        </section>
        <footer>
            Todos los Derechos Reservados Salón de Belleza 2026 &copy;
        </footer>
    </body>
</html>
